<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/logo"
        android:label="QuanLyNhaTro"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppQLPT"
        tools:targetApi="31">
        <activity
            android:name=".activity.ActivityThongTinChuNha"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityPhongTrong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitySuaDichVu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityThemDichVu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityQuanLyDichVu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDanhSachPhong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityChiTietPhong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityManHinhChinhChuTro"
            android:exported="true" />
        <activity
            android:name=".activity.ActivityTaoHopDong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDoanhThu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityPhongSapHetHopDong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityPhongChuaDongTien"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityPhongDangThue"
            android:exported="false" />
        <activity
            android:name=".activity.ActivitytaoHopDongMoi"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityTaoHoaDon"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDanhSachHopDong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDanhSachPhongTHD"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityKetThucHopDong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityXuLyPhong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDanhSachNguoiThue"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ActivityThemPhong"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".activity.ActivityDanhSachPhong" -->
        <!-- android:exported="false" /> -->

        <activity
            android:name=".activity.ActivityThemKhuTro"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityHuongDanTaoKhu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityTaoPhongKhiThemKhu"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDangNhap"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityCapNhatThongTinChuNha"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityCapNhatHopDong"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityCapNhatKhachThue"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityDangKy"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityDanhSachHoaDon"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>